section( class="about" )
  div( class="container-fluid about__container" )
    div( class="row about__top" )
      div( class="col-12 col-lg-3 col-xl-2" )
        h2( class="h h--2 about__h" ) About Me
      div( class="col-12 col-md-7" )
        p( class="p p--large about__p" ) Hi, my name is James and I’m a designer from San Francisco. I have over 10 years experience in leading teams and shipping complex digital products.
        a( class="a about__a" ) More About Me
    div( class="row about__bottom")
      div( class="col-12 col-md-4")
        picture 
          source(
            type="image/webp", 
            srcset="assets/img/about/i-1@2x.webp 2x, assets/img/about/i-1@1x.webp 1x"
          )
          source(
            type="image/jpg", 
            srcset="assets/img/about/i-1@2x.jpg 2x, assets/img/about/i-1@1x.jpg 1x"
          )
          img( class="about__img", src="assets/img/about/i-1@1x.jpg", alt="Image")
      div( class="col-12 col-md-4")
        picture 
          source(
            type="image/webp", 
            srcset="assets/img/about/i-2@2x.webp 2x, assets/img/about/i-2@1x.webp 1x"
          )
          source(
            type="image/jpg", 
            srcset="assets/img/about/i-2@2x.jpg 2x, assets/img/about/i-2@1x.jpg 1x"
          )
          img( class="about__img", src="assets/img/about/i-1@1x.jpg", alt="Image")
      div( class="col-12 col-md-4")
        picture 
          source(
            type="image/webp", 
            srcset="assets/img/about/i-3@2x.webp 2x, assets/img/about/i-3@1x.webp 1x"
          )
          source(
            type="image/jpg", 
            srcset="assets/img/about/i-3@2x.jpg 2x, assets/img/about/i-3@1x.jpg 1x"
          )
          img( class="about__img", src="assets/img/about/i-1@1x.jpg", alt="Image")