include ../../_ui/svg/svg.pug

section( class="testimonial" )
  div( class="container-fluid testimonial__container" )
    div( class="row testimonial__row" )
      div( class="col-md-6 col-xl-5" )
        span( class="c testimonial__c" ) testimonial
        h2( class="h h--2 testimonial__h" ) What people are saying About me
    ul( class="row testimonial__row testimonial__list list-testimonial" )
      li( class="col-12 col-md-6 col-lg-4 list-testimonial__item" )
        div( class="list-testimonial__body" )
          +svg( 'quotes', 'list-testimonial__icon', '0 0 43 28' )
          p( class="p p--large list-testimonial__p") Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical.
          div( class="list-testimonial__info info-list-testimonial" )
            div( class="info-list-testimonial__img-wrap" )
              picture 
                source(
                  type="image/webp", 
                  srcset="assets/img/testimonial/i-1@2x.webp 2x, assets/img/testimonial/i-1@1x.webp 1x"
                )
                source(
                  type="image/jpg", 
                  srcset="assets/img/testimonial/i-1@2x.jpg 2x, assets/img/testimonial/i-1@1x.jpg 1x"
                )
                img( class="info-list-testimonial__img", src="assets/img/testimonial/i-1@1x.jpg", alt="Client's photo")
            div( class="info-list-testimonial__wrap" )
              span( class="p p--big info-list-testimonial__name" ) Steve Mark
              span( class="p info-list-testimonial__job" ) Founder &amp; Leader
      li( class="col-12 col-md-6 col-lg-4 list-testimonial__item" )
        div( class="list-testimonial__body" )
          +svg( 'quotes', 'list-testimonial__icon', '0 0 43 28' )
          p( class="p p--large list-testimonial__p") Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical.
          div( class="list-testimonial__info info-list-testimonial" )
            div( class="info-list-testimonial__img-wrap" )
              picture 
                source(
                  type="image/webp", 
                  srcset="assets/img/testimonial/i-1@2x.webp 2x, assets/img/testimonial/i-1@1x.webp 1x"
                )
                source(
                  type="image/jpg", 
                  srcset="assets/img/testimonial/i-1@2x.jpg 2x, assets/img/testimonial/i-1@1x.jpg 1x"
                )
                img( class="info-list-testimonial__img", src="assets/img/testimonial/i-1@1x.jpg", alt="Client's photo")
            div( class="info-list-testimonial__wrap" )
              span( class="p p--big info-list-testimonial__name" ) Steve Mark
              span( class="p info-list-testimonial__job" ) Founder &amp; Leader
      li( class="col-12 col-md-6 col-lg-4 list-testimonial__item" )
        div( class="list-testimonial__body" )
          +svg( 'quotes', 'list-testimonial__icon', '0 0 43 28' )
          p( class="p p--large list-testimonial__p") Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical.
          div( class="list-testimonial__info info-list-testimonial" )
            div( class="info-list-testimonial__img-wrap" )
              picture 
                source(
                  type="image/webp", 
                  srcset="assets/img/testimonial/i-1@2x.webp 2x, assets/img/testimonial/i-1@1x.webp 1x"
                )
                source(
                  type="image/jpg", 
                  srcset="assets/img/testimonial/i-1@2x.jpg 2x, assets/img/testimonial/i-1@1x.jpg 1x"
                )
                img( class="info-list-testimonial__img", src="assets/img/testimonial/i-1@1x.jpg", alt="Client's photo")
            div( class="info-list-testimonial__wrap" )
              span( class="p p--big info-list-testimonial__name" ) Steve Mark
              span( class="p info-list-testimonial__job" ) Founder &amp; Leader