section( class="blog" )
  div( class="container-fluid blog__container")
    div( class="row blog__row" )
      div( class="col-md-7 col-lg-4 blog__col")
        h2( class="h h--2 blog__h" ) My Latest Blog <br> Related Design &amp; Tech
        p( class="p blog__p" ) There are many more, review my <a class="a a--sm blog__a" href="#" title="profile">Medium</a> <br> profile to find out.
      ul( class="col-md-12 col-lg-7 blog__col blog__list list-blog blog__list list-blog")
        li( class="list-blog__item")
          div( class="list-blog__img-wrap" )
            picture 
              source(
                type="image/webp", 
                srcset="assets/img/blog/i-1@2x.webp 2x, assets/img/blog/i-1@1x.webp 1x"
              )
              source(
                type="image/jpg", 
                srcset="assets/img/blog/i-1@2x.jpg 2x, assets/img/blog/i-1@1x.jpg 1x"
              )
              img( class="list-blog__img", src="assets/img/blog/i-1@1x.jpg", alt="Post's image")
          div( class="list-blog__body body-list-blog" )
            span( class="c body-list-blog__c") PUBLISHED ON MEDIUM.COM
            h2( class="h h--2 body-list-blog__h") The market does quantitative usability tests 
            p( class="p body-list-blog__p") Vestibulum at pulvinar nisi, non commodo erat. Aliquam <br> lobortis posuere magna sed tincidunt. Sed facilisis vestibulum.
        li( class="list-blog__item")
          div( class="list-blog__img-wrap" )
            picture 
              source(
                type="image/webp", 
                srcset="assets/img/blog/i-2@2x.webp 2x, assets/img/blog/i-2@1x.webp 1x"
              )
              source(
                type="image/jpg", 
                srcset="assets/img/blog/i-2@2x.jpg 2x, assets/img/blog/i-2@1x.jpg 1x"
              )
              img( class="list-blog__img", src="assets/img/blog/i-2@1x.jpg", alt="Post's image")
          div( class="list-blog__body body-list-blog" )
            span( class="c body-list-blog__c") PUBLISHED ON MEDIUM.COM
            h2( class="h h--2 body-list-blog__h") Read My Latest Blog <br> Related Design and Tech 
            p( class="p body-list-blog__p") Vestibulum at pulvinar nisi, non commodo erat. Aliquam <br> lobortis posuere magna sed tincidunt. Sed facilisis vestibulum.