section( class="work" )
  div( class="container-fluid work__container hr" )
    div( class="row work__row" )
      div( class="col-md-6 col-lg-7 col-xl-5" )
        span( class="c work__c" ) My Recent Work
        h2( class="h h--2 work__h" ) I love taking Design from vision to reality.
    div( class="row")
      div( class="col-12 work__col" )
        ul( class="work__list list-work" )
          li( class="list-work__item list-work__item--small" )
            a( class="list-work__link", href="#", title="See work" )
              picture 
                source(
                  type="image/webp", 
                  srcset="assets/img/work/i-1@2x.webp 2x, assets/img/work/i-1@1x.webp 1x"
                )
                source(
                  type="image/jpg", 
                  srcset="assets/img/work/i-1@2x.jpg 2x, assets/img/work/i-1@1x.jpg 1x"
                )
                img( class="list-work__img", src="assets/img/work/i-1@1x.jpg", alt="Work screenshot" )
          li( class="list-work__item" )
            a( class="list-work__link", href="#", title="See work" )
              picture 
                source(
                  type="image/webp", 
                  srcset="assets/img/work/i-2@2x.webp 2x, assets/img/work/i-2@1x.webp 1x"
                )
                source(
                  type="image/jpg", 
                  srcset="assets/img/work/i-2@2x.jpg 2x, assets/img/work/i-2@1x.jpg 1x"
                )
                img( class="list-work__img", src="assets/img/work/i-2@1x.jpg", alt="Work screenshot" )
          li( class="list-work__item" )
            a( class="list-work__link", href="#", title="See work" )
              picture 
                source(
                  type="image/webp", 
                  srcset="assets/img/work/i-3@2x.webp 2x, assets/img/work/i-3@1x.webp 1x"
                )
                source(
                  type="image/jpg", 
                  srcset="assets/img/work/i-3@2x.jpg 2x, assets/img/work/i-3@1x.jpg 1x"
                )
                img( class="list-work__img", src="assets/img/work/i-3@1x.jpg", alt="Work screenshot" )
          li( class="list-work__item list-work__item--small" )
            a( class="list-work__link", href="#", title="See work" )
              picture 
                source(
                  type="image/webp", 
                  srcset="assets/img/work/i-4@2x.webp 2x, assets/img/work/i-4@1x.webp 1x"
                )
                source(
                  type="image/jpg", 
                  srcset="assets/img/work/i-4@2x.jpg 2x, assets/img/work/i-4@1x.jpg 1x"
                )
                img( class="list-work__img", src="assets/img/work/i-4@1x.jpg", alt="Work screenshot" )
        a( class="b work__b", href="#") View all projects